.header {
    background-color: #3F5FA5;
    color: white;
    padding: 10px 30px;
    border-bottom: 1px solid #3D3D3D;
    margin-bottom: 15px;

}

.post-add{
    margin-left : 20px;
}
.header h1 {
    font-size: 40px;
    font-weight: bolder;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

.recent {
    text-align: center;
    width: 200px;
    margin: 10px auto;
    font-size: 30px;
    font-weight: lighter;
    color: #818181;
    border-bottom: 1px solid #ddd;
}

a:hover {
    text-decoration: none;
}

.item{
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.item h3 {
    font-weight: bolder;
}

.info {
    display: inline-block;
    float: right;
    font-size: 13px;
    color: #707070;
    margin-top: 10px;
}

.info span {
    font-weight: bold;
}

.author {
    float: right;
}

.add-post-button {
    position: absolute;
    right: 120px;
    top: 30px;
}

.log-out {
    position: absolute;
    right: 30px;
    top: 30px;
}
