{% extends 'base.html' %}

{% block content %}
<div class="container">
    <ul class="list">
        <li class="item">
            <h3>{{ post.title }}</h3>
            <div class="content">{{ post.content|linebreaksbr }}</div>
            {% if post.mainphoto %}
                <img src = "{{ post.mainphoto.url }}" style="max-width: 100%; height: auto;">
            {% endif %}
        </li>
    </ul>
    <ul class="list">
            <a href="/">
                <button type="button" class="btn btn-primary to-main">메인으로</button>
            </a>
            <br>
                {% if user.is_authenticated and user == post.author %}
            <a  href="{% url 'post_edit' pk=post.pk %}">
                <buttun type = "button" class="btn btn-success">수정하기</buttun>
            </a>
            <form action="{% url 'post_delete' pk=post.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">삭제하기</button>
            </form>
                {% endif %}
    </ul>
</div>
<hr width = "90%" color = "black" size = "10px">
<div class="container">
    {% for comment in post.comments.all %}
    <div class="comment-list">
        <strong>{{ comment.author }}</strong>{% if comment.author == request.user %}<a href="{% url 'comment_remove' pk=post.pk cpk=comment.pk%}"> 삭제</a>{% endif %}
        <div class="date">{{ comment.created_date }}</div>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% empty %}
    <div class="comment-list">
        <p>작성된 댓글이 없습니다!</p>
    </div>
    {% endfor %}

    {% if request.user.is_active %}
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">댓글 작성</button>
    </form>
    {% else %}
    <div class="alert alert-warning">로그인된 사용자만 댓글을 작성할 수 있습니다.</div>
{% endif %}
</div>

{% endblock %}