{% extends 'base.html' %}

{% block content %}
<div class="container">
    <ul class="list">
        <li class="item">
            <h3>{{ post.title }}</h3>
            <div class="content">{{ post.content|linebreaksbr }}</div>
        </li>
    </ul>
    <a href="/">
        <button type="button" class="btn btn-primary to-main">To Main</button>
    </a>
    <br>
    {% if user.is_authenticated %}

    <a  href="{% url 'post_edit' pk=post.pk %}">
        <buttun type = "button" class="btn btn-success">Edit</buttun>
    </a>
    <form action="{% url 'post_delete' pk=post.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Post</button>
    </form>
    {% endif %}
</div>
{% endblock %}