{% extends 'base.html' %} 

{% block content %}
<div class = "container">
    <h1>회원가입</h1>
    <form method="post" class = "form-group">
        {% csrf_token %} 
        Username :
        <br>
        <input name="username" type = "text">
        <br>
        Password :
        <br>
        <input name="password1" type = "password">
        <br>
        Confirm Password:
        <br>
        <input name="password2" type = "password">
        <br><br>
        <button type="submit" class="btn btn-success">Register</button>
    </form>
</div>

{% endblock %}